{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    <div class="max-w-screen-2xl mx-auto">
        <div class="rounded-xl bg-gray-800 h-50vh -mx-40 mt-32 mb-24 bg-cover bg-center"></div>
            <div class="flex flex-wrap -mx-40">
                {% for room in rooms %}
                    {% include "partials/room_card.html" with room=room %}
                {% endfor %}
            </div>
            <h5>
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 
            <!-- django는 너무 많은 logic을 허용하지 않음
            필요한 경우 filter를 사용--> 
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
            </h5>
    </div>
    
{% endblock content %}
